<div class="continer text-center main img-responsive">
    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="align-self-center bg">
        <p class="bif">Building India's Fastest</p>
    </div>
    <h1 style="color: aliceblue;">Last Mile Delivery Network</h1>
    <h3 style="color: aliceblue;">Partner with us and start earning extra income.</h3>
    <div class="row">
        <div class="col col-lg-8 col-12">
            <button>
                Download Partner App
            </button>
        </div>
        <div class="col col-lg-3 col-12">
            <button>
                Download KiranaX App
            </button>
        </div>
    </div>
    <br><br>
</div>







<div class="con" style="background-image: url(assets/How_we_work_BG.png); height:70%">

    <h2 style="margin:20px 550px;">How We Work</h2>

    <div class="seprater">
    </div>
    <div class="w-50 p-3 text-center" style="margin:20px auto;">
        <p>Shadowfax is India’s most trusted on-demand last mile logistics network offering tech-enabled one stop
            delivery solutions for E-commerce, Restaurants, FMCG, Pharma and online &amp; offline retailers.</p>
    </div>
    <div style="margin:20px 550px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AHTpquAMLQY" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </div>
</div>















<section class="home_ourServices home_section ng-scope">
    <div layout="column" layout-align="start" class="cust_colLayout layout-align-start-stretch layout-column">
        <div layout="row" layout-align="center center" class="layout-align-center-center layout-row">
            <div layout="row" flex="100" flex-xs="95" flex-sm="90" layout-xs="column"
                layout-align="space-around stretch" layout-align-xs="space-between start"
                class="layout-xs-column layout-align-xs-space-between-start layout-align-space-around-stretch layout-row flex-xs-95 flex-sm-90 flex-100">
                <div layout="column" flex="100" flex-xs="100" flex-sm="100"
                    class="responsiveWidth100 home_headingWrap layout-column flex-xs-100 flex-sm-100 flex-100">
                    <h2 style="margin:20px 200px;">Our services</h2>
                    <div class="seprater"></div>
                </div>
            </div>
        </div>
        <div layout="row" layout-align="center center" class="layout-align-center-center layout-row">
            <div layout="row" flex="85" flex-sm="80" layout-xs="column" layout-align="space-around center"
                layout-align-xs="center"
                class="home_ourServices_subTxt layout-xs-column layout-align-xs-center layout-align-space-around-center layout-row flex-sm-80 flex-85">
                <p>We are one of the fastest growing B2B logistics companies in India. Our logistics network spans over
                    500+ cities, with 100K+ delivery partners and over 1000+ vehicles.</p>
            </div>
        </div>
        <div layout="row" layout-align="center center" class="layout-align-center-center layout-row">
            <div layout="row" flex="100" flex-gt-lg="100" flex-md="100" flex-xs="100" layout-xs="column"
                layout-align="space-around stretch" layout-align-xs="center center"
                class="home_ourServices_subTxt layout-xs-column layout-align-xs-center-center layout-align-space-around-stretch layout-row flex-xs-100 flex-md-100 flex-gt-lg-100 flex-100">
                <div layout="column" class="home_serv_wrap layout-column zoom" ui-sref="services.now"
                    href="/services/hyperlocal-delivery"><img src="/assets/HL_Icon.png">
                    <h3>Hyperlocal delivery</h3>
                    <div class="may_seprater"></div>
                    <p>Shadowfax is one of India’s fastest delivery networks offering instant deliveries.</p>
                    <button class="md-accent md-button md-ink-ripple" type="button" ng-transclude=""><span
                            class="ng-scope">Learn More</span></button>
                </div>
                <div layout="column" class="home_serv_wrap layout-column zoom" ui-sref="services.same-day-delivery"
                    href="/services/same-day-delivery"><img src="/assets/Sameday.svg" class="ie_hackForWidth">
                    <h3>Same day delivery</h3>
                    <div class="may_seprater"></div>
                    <p>For orders within same cities, trust Shadowfax for fast-paced deliveries.</p><button
                        class="md-accent md-button md-ink-ripple" type="button" ng-transclude=""><span
                            class="ng-scope">Learn More</span></button>
                </div>
                <div layout="column" class="home_serv_wrap layout-column zoom" ui-sref="services.next-day-delivery"
                    href="/services/next-day-delivery"><img src="/assets/NDD_Logo.png">
                    <h3>Next day delivery</h3>
                    <div class="may_seprater"></div>
                    <p>In our fast moving economy, speed is key. This is where our next day delivery service emerges as
                        a champion.</p><button class="md-accent md-button md-ink-ripple" type="button"
                        ng-transclude=""><span class="ng-scope">Learn More</span></button>
                </div>
            </div>
        </div>
    </div>
</section>