.main{
  background-image: url("/assets/banner.jpg");
  background-color: #cccccc;

}

button{
  font-size: 22px;
  padding: 6px 15px;
  border: 1px solid #ea5333;
  background-color: transparent;
  color: #FFFF;
  border-radius: 4px;
  background: #ea5333;
  margin-right: 0;
  margin-top: 15px;
  display: inline-block;
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}
.bg{
  background-image: url("/assets/txtbg.png");
  background-repeat: no-repeat;
  background-position: center;
  color: #4a4a4a;
  font-family: Roboto,sans-serif;
}
@media (min-width:500px){
  .bif{
      font-size: 18px;
  }
}
@media (min-width:1200px){
  .bif{
      font-size: 34px;
  }
}


.zoom {
  padding:30px;
  margin: 10px;
  max-width: 300px;
  border-radius:4px;
  cursor: pointer;
  position: relative;
  z-index: 10;
  transition: all .2s ease-in; /* Animation */
}

.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}












  


  h2{
    
    font-size: 34px;
    letter-spacing: .25px;
    font-weight: 600;
    line-height: 40px;
    color: #4a4a4a;
    max-width: 500px;
    margin: 0 auto 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 8px 118px;
}



h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h4{
  color: white;
}
h2{
  text-align: right;


}
.abc{
    border: none;
        background-color: rgb(255,87,34);
        padding: 14px 28px;
        font-size: 16px;
        color:white;
        cursor: pointer;
        display: inline-block;
    
    }

.seprater {
        width: 80px;
        height: 4px;
        margin: 20px auto;
        background-color: #ee5935;
    }

.home_ourServices {
      padding: 50px 10px;
      background-color: #fafafa;
      background-image: url(/assets/map_bg.png);
      background-attachment: fixed;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
  }
  section {
    display: block;
}
.layout-column>.flex-100, .layout-row>.flex-100 {
  flex: 1 1 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}
.layout-row {
  flex-direction: row;
}

.layout, .layout-column, .layout-row {
  box-sizing: border-box;
  display: flex;
}

.cust_colLayout {
  max-width: 940px;
  margin: 0 auto;
}
.layout-column {
  flex-direction: column;
}
.layout, .layout-column, .layout-row {
  box-sizing: border-box;
  display: flex;
}
.layout-align-center-stretch, .layout-align-end-stretch, .layout-align-space-around-stretch, .layout-align-space-between-stretch, .layout-align-start-stretch {
  align-items: stretch;
  align-content: stretch;
}
.layout-align-start, .layout-align-start-center, .layout-align-start-end, .layout-align-start-start, .layout-align-start-stretch {
  justify-content: flex-start;
}
.layout-row {
  flex-direction: row;
}
.layout, .layout-column, .layout-row {
  box-sizing: border-box;
  display: flex;
}
.layout-align-center-center, .layout-align-end-center, .layout-align-space-around-center, .layout-align-space-between-center, .layout-align-start-center {
  align-items: center;
  align-content: center;
  max-width: 100%;
}
.layout-align-center, .layout-align-center-center, .layout-align-center-end, .layout-align-center-start, .layout-align-center-stretch {
  justify-content: center;
}

.layout-column>.flex-100, .layout-row>.flex-100 {
  flex: 1 1 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}
.layout-row {
  flex-direction: row;
}
.layout, .layout-column, .layout-row {
  box-sizing: border-box;
  display: flex;
}
.flex-100 {
  max-height: 100%;
}
.flex-100, .layout-column>.flex-95 {
  flex: 1 1 100%;
  max-width: 100%;
  box-sizing: border-box;
}
.layout-align-center-stretch, .layout-align-end-stretch, .layout-align-space-around-stretch, .layout-align-space-between-stretch, .layout-align-start-stretch {
  align-items: stretch;
  align-content: stretch;
}
.layout-align-center-center>*, .layout-align-end-center>*, .layout-align-space-around-center>*, .layout-align-space-between-center>*, .layout-align-start-center>* {
  max-width: 100%;
  box-sizing: border-box;
}
.layout-align-space-around, .layout-align-space-around-center, .layout-align-space-around-end, .layout-align-space-around-start, .layout-align-space-around-stretch {
  justify-content: space-around;
}

.home_ourServices .home_serv_wrap {
  box-shadow: 0 2px 16px 0 hsla(0,0%,81%,.5);
  background-color: #fff;
  border-radius: 4px;
  margin: 10px;
  padding: 30px;
  max-width: 300px;
  cursor: pointer;
  position: relative;
  transition: all .2s ease-in;
}
.layout-column {
  flex-direction: column;
}
.layout, .layout-column, .layout-row {
  box-sizing: border-box;
  display: flex;
}
.home_ourServices .home_serv_wrap img {
  height: 80px;
  width: auto;
  margin: 20px auto 30px;
  display: inline-block;
  cursor: pointer;
}
.home_ourServices .home_serv_wrap .md-button {
  color: #f15a28;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.25px;
  display: inline-block;
  margin: 0 auto;
  text-transform: uppercase;
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -54px;
}
.md-button.md-default-theme.md-accent, .md-button.md-accent {
  color: rgb(255,64,129);
}
.md-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-height: 36px;
  min-width: 88px;
  line-height: 36px;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  border-radius: 2px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: 0;
  padding: 0 6px;
  margin: 6px 8px;
  background: transparent;
  color: currentColor;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  overflow: hidden;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}
.md-button {
  letter-spacing: .01em;
}
button, input, select, textarea {
  font-size: 100%;
}
button, html, input, select, textarea {
  font-family: Roboto,Helvetica Neue,sans-serif;
}
button, html input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}
button, input, select, textarea {
  vertical-align: baseline;
}
user agent stylesheet
button {
  
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-image: initial;
}










