
  <nav class="navbar navbar-light navbar-expand-lg fixed-top" style="background-color: #ffffff; height:80px;">
    <img src="./assets/sfx_logo_new.png" alt="" style="height: 43.19px;width: 180px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color: white;">
      <ul class="navbar-nav ml-auto font-weight-bold" style="font-size: 14px;">
        <li class="nav-item dropdown">
          <a class=" nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            COMPANY
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">ABOUT US</a>
            <a class="dropdown-item" href="#">NEWSROOM</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            SERVICES
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">ALL SERVICES</a>
            <a class="dropdown-item" href="#">HYPERLOCAL DELIVERY</a>
            <a class="dropdown-item" href="#">SAME DAY DELIVERY</a>
            <a class="dropdown-item" href="#">NEXT DAY DELIVERY</a>
  
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            CATEGORIES
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">FOOD</a>
            <a class="dropdown-item" href="#">PHARMA</a>
            <a class="dropdown-item" href="#">GROCERY</a>
            <a class="dropdown-item" href="#">E-COMMERCE DELIVERIES</a>
            <a class="dropdown-item" href="#">E-COMMERCE RETURN LOGISTICS</a>
  
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">CONTACT US<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">TRACK ORDER</a>
        </li>
      </ul>
      <form class="form-inline">
        
        <button class="btn btn-default" style="background-color: #e24c00;color:#ffffff; font-size: 14px;">PARTNER WITH US</button> &nbsp; &nbsp;
        <button class="btn btn-outline-danger my-2 my-sm-0" style="color: #e24c00; background-color:#ffffff; font-size: 14px;" type="submit">Login</button>
      </form>
    </div>
  </nav>

<!-- 

  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a> -->