body {
    background-image: url("/assets/Statitics_BG.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    height: 202%;
    background-size: contain;
  }

span {
    color: #4a4a4a;
    font-family: Arial Black;
    font-size: 30px;
    line-height: 42px;
}

p {
    font-weight: 600;
    // text-align: center;
    margin: 0;
    padding: 3px 60px;
    font-size: 18px;
    line-height: 21px;
    color: #4a4a4a;
}


.div10
{
    padding: 50px 0 129px;
    background-color: #fafafa;
    background-image: url("/assets/Awards_BG.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
}

.div10 .div1{
    max-width: 940px;
    margin: 0 auto;
}

.div10 .div1 .awards{
   text-align:center;
    max-width: 100%;
}

.awards p{
    width: 80px;
    height: 4px;
    margin: 20px auto;
    background-color: #ee5935;
}

.div10 .div2 .div
{
    display:inline-block;
    
}
.div10 .div2
{
    margin-left:560px;
}
.seprater {
    width: 80px;
    height: 4px;
    margin: 20px auto;
    background-color: #ee5935;
}
.sepraterr {
    width: 50px;
    height: 4px;
    margin: 5px auto;
    background-color: #ee5935;
}

h5{
    color: #ee5935;
    text-align: right;
}

.con{

    max-width: 100%;
}
    