
<body>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="/assets/abt_new_mile_ico_1.png" style="padding-left: 50px; padding-top:70px;" /><br>
        <span style="padding-left: 50px;">500+</span>
        <p style="padding-left: 50px;">Cities Covered</p>
      </div>
      <div class="col-sm">
        <img src="/assets/merchent.png" style="padding-left: 50px; padding-top:70px;" /><br>
        <span style="padding-left: 50px;">2000+</span>
        <p style="padding-left: 50px;" >Happy Merchants</p>
      </div>
      <div class="col-sm">
        <img src="/assets/abt_new_mile_ico_3.png" style="padding-left: 50px;padding-top:70px;" /><br>
        <span style="padding-left: 50px;" >100k+</span>
        <p style="padding-left: 50px;"> Partner Network</p>
      </div>
      <div class="col-sm">
        <img src="/assets/abt_new_mile_ico_4.png" style="padding-left: 50px;padding-top:70px;" /><br>
        <span style="padding-left: 50px;">1CR+</span>
        <p style="padding-left: 50px;">Monthly Transaction</p>
      </div>
      <div class="col-sm">
        <img src="/assets/merchant_new.png" style="padding-left: 50px;padding-top:70px;" /><br>
        <span style="padding-left: 50px;">10k+</span>
        <p style="padding-left: 50px;">Kirana Network</p>
      </div>
    </div>
  </div><br>
<br>
<br>
<br>
<br>
<!-- <h2 style="margin: 20px 320px; padding:30px;"> One Choice for many Brand</h2>
 <div class="seprater"></div> -->

 <div class="div10">
    <div class="div1">
      <div class="awards">
        <h1> Awards</h1>
        <p></p>
      </div>
    </div>
    <div class="div2">
    <div class="div">
      <img src="/assets/awards_1.png">
    </div>
    <div class="div">
      <img src="/assets/awards_2.png">
    </div>
    <br>
    <div class="div">
      <img src="/assets/awards_3.png">
    </div>
    <div class="div">
      <img src="/assets/awards_4.png">
    </div>
    </div>
  </div>
  
  
<!-- <img src="/assets/y.png" height="700px" width="100%"> -->

<h2 style="margin: 20px 550px; padding-left:120px;"> What's New at Shadowfax</h2>
 <div class="seprater"></div>

 <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card">
            <img class="card-img-top" src="assets/news1.jpg" alt="Card image cap">
            <div class="card-body">
                <!-- <img src="" width="" height=""> -->
              <h4 class="card-title" style="color: gray;"> NEWS AND BLOG</h4>
              <div class="sepraterr"></div>
              <p class="card-text">Newsroom for the discussion of lean logistics and supply chain and technologies.</p>
              <h5>READ MORE</h5>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card">
            <img class="card-img-top" src="assets/news2.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title" style="color: gray;">INNOVATION</h4>
              <div class="sepraterr"></div>
              <p class="card-text" >Read about the emerging technologies shaping the future of logistics.</p>
              <h5>LEARN MORE</h5>
            </div>
          </div>
      </div>
    </div>
  </div>

</body>
<div class="container">
    </div>