
<div class="footer">
    <div class="layout">
       <div class="top">
  
         <div class="logo">
              <img src="assets/sfx_logo_new.png">
         </div>
         <div class="social" >
             <span>Connect with us</span> 
             <a href="#" >
             <img src="/assets/linkedin-ico.png" > </a>
             <a href="#">
             <img src="/assets/twitter-ico.png" > </a>
             <a href="#" >
             <img src="/assets/facebook-ico.png" > </a>
             <a href="#" >
             <img src="/assets/instagram-ico.png" ></a>
        </div>
      </div>
       <div class="footermiddle" style="margin-bottom: 40px;">
         <div class="footerlink">
           <a href="/" >Home</a>
           <a href="#" >About Us</a>
            <a href="#" >Newsroom</a> 
            <a href="#" >Careers</a>
             <a href="#" >Contact Us</a>
         </div>
        <div class="footerlink" >
           <h6>Services</h6>
           <a href="#">Hyperlocal Delivery</a>
            <a href="#" >Same Day Delivery</a> 
            <a href="#">Next Day Delivery</a>
        </div>
        <div class="footerlink" >
            <h6>Categories</h6>
            <a href="#" >Food Delivery</a> 
            <a href="#">Medicine Delivery</a>
            <a href="#">Grocery Delivery</a> 
            <a href="#">E-commerce deliveries</a>
             <a href="#">E-commerce return logistics</a>
              <a href="#">Surface Delivery</a>
        </div>
        <div class="footerlink" >
              <h6>Partner with us</h6>
              <a href="#">Join as Delivery Partner</a>        
              <a href="#">Join as Merchant</a>
        </div>
        <div class="footerbottom">
          <a href="#">Copyright 2019 © Shadowfax</a> 
          <a href="#" >Privacy Policy</a>
           <a href="#" >Terms of Use</a>
        </div>
      </div>
    </div> 
  </div>

