
.footer
{
    background-color: #212121;
    padding: 50px;
    color: #fff;
}
.footer a{
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: inherit;
}

.layout
{
    max-width: 940px;
    margin: 0 auto;
}

.footer .top
{
margin-bottom: 40px;
}
.footer .top .logo img
{
max-width: 220px;
}

.social span
{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.footer .top .social img
{
width:8px;
max-width: 40px;
}
.social{
   float:right;
}
.top div{
    display:inline;
}
.footerlink a
{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.footermiddle .footerlink{
    display:inline-block;
    padding:35px;
    
}
.footerbottom
{
    position: relative;
    margin: 0 20px;
    font-size: 14px;
    text-align:center;
}