html,
body,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  .view {
    height: 600px;
  }
}