.seprater {
    width: 80px;
    height: 4px;
    margin: 20px auto;
    background-color: #ee5935;
}

.yo{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 10px;
}


p{
    margin: 10px 0 0;
    color: #4a4a4a;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
    display: block;
    padding:30px;
  }
  img{
      height: 250px;
      background-color:#f7f7f7 ;
  }





