<!-- <div class="container" style="height: 100%;">

    <h2 style="margin: 20px 320px; padding:30px;"> One Choice for many Brand</h2>
    <div class="seprater"></div>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
        style="height: 50%; background-color:rgb(230, 230, 230)">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img  width="250" height="140" style="margin:20px 450px; padding-top:50px;" src="/assets/Swiggy.png" alt="First slide">
                <h5 style="margin:auto auto; padding-top:50px; padding-left:50px;"> Shadowfax has been able to partner with us in an
                    effective way without compromising the standards of Swiggy customer experience. Their tech and
                    ops excellence has really enabled us to scale in big cities without a sweat.</h5>
                <p style="margin:auto auto; padding-top:50px; padding-left:500px;">- Radheshyam</p>
                
            </div>
            <div class="carousel-item">
                <img  width="190" height="140" style="margin:10px 450px; padding-top:50px;" 
                    src="/assets/curefit_logo.png" alt="Second slide">
                    <h5 style="margin:auto auto; padding-top:50px; padding-left:50px;">The service provided by Shadowfax’s dedicated workforce has made our job easy and has helped us to reach out to our customers. Their on-time delivery has helped in keeping our customers happy.</h5>
                    <p style="margin:auto auto; padding-top:50px; padding-left:500px;">- Dilip Verma</p>
                    
                
            </div>
            <div class="carousel-item">
                <img  width="250" height="100" style="margin:10px 450px; padding-top:50px;" 
                    src="/assets/bewakoof-logo-og.png" alt="Third slide">
                    <h5 style="margin:auto auto; padding-top:60px; padding-left:50px;">I would like you to know how pleased we are with Shadowfax's effective service. Hope to have a sustainable working relationship with Shadowfax for long!</h5>
                    <p style="margin:auto auto; padding-top:60px; padding-left:500px;">- Akhil Srivatsan</p>
               
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
<div>
    <p style="padding: 30px;">Hundreds of esteemed clients from the food, pharma, grocery and other businesses trust Shadowfax for delivery
    services in India.</p>

</div>
<div style="background-image: url(/assets/Logo_home_page.svg);  height:30%; margin:auto 20%; background-repeat: no-repeat; ">

</div> -->
<div id="demo" class="carousel slide container" data-ride="carousel">



    <!-- The slideshow -->
    <div class="carousel-inner slide">
        <div class="carousel-item active contiainer text-center shadow-lg p-4 mb-4 bg-light">
            <img src="/assets/Swiggy.png" alt="Chicago"  style="height: 100px;">
            <p>Shadowfax has been able to partner with us in an effective way without compromising the standards of
                Swiggy customer experience. Their tech and ops excellence has really enabled us to scale in big cities
                without a sweat.</p>
            <p><span>- Radheshyam</span></p>
        </div>

        <div class="carousel-item text-center shadow-lg p-4 mb-4 bg-light">
            <img src="/assets/curefit_logo.png"  alt="Los Angeles"  style="height: 100px; ">
            <p>The service provided by Shadowfax’s dedicated workforce has made our job easy and has helped us to
                reach out to our customers. Their on-time delivery has helped in keeping our customers happy.</p>
            <p><span>- Dilip Verma</span></p>
        </div>

        <div class="carousel-item container text-center shadow-lg p-4 mb-4 bg-light">
            <img src="/assets/bewakoof-logo-og.png" alt="New York"  style="height: 65px; width:290px;"> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate rerum rem porro esse quos ipsam, modi
                provident est reprehenderit tempore facilis asperiores laudantium impedit adipisci maiores consectetur,
                culpa fugiat animi.</p>
            <p>Akhil Srivatsan</p>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>
<p>Hundreds of esteemed clients from the food, pharma, grocery and other businesses trust Shadowfax for delivery services in India.</p>
<div class="container text-center">
<img src="/assets/Logo_home_page.svg"  style="padding:20px;" alt="">
<p>and more...</p>
</div>



    
